# --- System Files ---
.DS_Store
*.pem
*.stackdump
Thumbs.db

# --- Dependencies ---
node_modules/
package-lock.json
yarn.lock
pnpm-lock.yaml

# --- Expo & Metro ---
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# --- Environment & Secrets ---
.env
.env*.local
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.xccheckout
xcuserdata/

# --- iOS (Native) ---
ios/
*.xcworkspace
DerivedData/
Podfile.lock
Pods/
build/
*.hmap
*.ipa
*.xcuserstate

# --- Android (Native) ---
android/
.gradle/
build/
local.properties
*.iml
*.hprof
.kotlin/

# --- Build & Test ---
/coverage
/reports
/third-party
*.tsbuildinfo
*.js.meta

# --- IDEs ---
.idea/
.vscode/
.vs/
*.swp
